.explore {
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
  margin-top: 60px;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
}

.explore .users__user {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.users__user .users__left img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}
