@media screen and (min-width: 375px) and (max-width: 667px) {
  .navigation {
    padding: 0 20px;
  }
  .navigation__input {
    display: none;
  }
  .photo {
    margin-top: 0;
    background-color: transparent;
    border: none;
  }
  .photo .photo__add-comment {
    display: none;
  }
  .footer {
    width: 85%;
  }
  .footer,
  .footer__list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer__list {
    margin-bottom: 10px;
  }
  .footer__list-item {
    margin-bottom: 10px;
  }
}
